@import "src/base/variables";
.recommendedNotes__grid {
    background-color: #ccc;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recommendedNotes__logo {
    display: inline-block;
}
.recommendedNotes__content {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f2eff2;
}
.recommendedNotes__image {
    width: 120px;
    img {
        border-radius: 5px;
    }
}
.recommendedNotes_list {
    width: calc(100% - 120px);
    display: inline-block;
    padding-left: 10px;
}
.recommendedNotes__title {
    height: 42px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    color: #1f1f1f;
    font-weight: 700;
    font-size: 12px;
    font-family: PT serif;
    line-height: 14px;
}
.recommendedNotes__image img {
    object-fit: cover;
    font-size: 1px;
}
.NoteOtherBrands__time {
    color: #838383;
    font-size: 10px;
    padding: 0 0 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.recommendedNotes__item {
    margin-bottom: 0;
}
.recommendedNotes__item a {
    text-decoration: none;
}