@import "src/base/variables";
.wrapper__quote {
    position: relative;
    background-color: rgba(241, 1, 204, 0.2);
    padding: 14.5px 15px;
    display: flex;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #ccc;
    border-top: 3px solid  $crimson;
    margin-bottom: 24px;
    margin-top: 8px;
    a:before {
        inset: 0px;
        content: "";
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
}
.imgQuote {
    border-radius: 5px;
    object-fit: cover;
}