@import 'src/base/variables';
@import "src/base/media-queries";

.item-social {
    width: 35px;
    padding: 0;
    height: 35px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 26px;
    border-radius: 4px;
}

.item-social-36{
    width: 36px;
    height: 36px;  
}

.primary {
    background-color: $medium-gray;
    color: $white;
}

.label {
    width: auto;
    padding: 0 8px;
    font-weight: 700;
    font-size: 0;
    background-color: $medium-gray;
    color: $white;
    
    column-gap: 8px;
        font-size: 1rem;
        line-height: 1.2;
        text-align: center;
        background-color: $white;
        color: $medium-gray;
}

.bg-facebook{
    background-color: #2D88FF;
}

.bg-whatsapp{
    background-color: #22C145;
}

.bg-twitter{
    background-color: #1DA1F2;
}

.bg-googlenews{
    background-color: #FFFFFF;
}

.bg-share{
    background-color: #8A64EB;
    border-color: #8A64EB;
}