@import 'src/base/variables';


.list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-top: 24px;

}
.list__section {
    &--item {
        display: flex;
        gap: 16px;
        & figure {
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .3s;
            max-width: 124px;
            height: 124px;
            display: flex;
        }
    }
    &--image {
        min-width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
    }
    &--title {
        // font-family: PT serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        max-height: 60px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        
    }
}
.list__section--tag {
    // font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: $crimson;
    font-variant: all-small-caps;
    max-height: 16px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    font-style: normal;

}
.list__section--time {
    display: inline-block;
    white-space: nowrap;
    font-style: normal;
    font-feature-settings: "smcp","c2sc";
    font-variant: all-small-caps;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #666;
}
.list__section--author {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.list__section--content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 1000px) {
    .list__section {
        &--item {
            & figure {
                min-width: 220px;
                height: 124px;
            }
        }
        &--title {
            font-size: 16px;
            line-height: 20px;

        }
    }
    .list__section--author {
        align-items: center;
        flex-direction: row;
        gap: 8px;
    }
}

.video-type {
    z-index: 0;
}
.video-type:before,
.video-type:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 15px;
}
.video-type:before {
    width: 40px;
    height: 40px;
    left: 15px;
    background: rgba(#3CB1B9, 0.8);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.video-type:after {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    left: 30px;
    bottom: 25px;
    border-left: 15px solid #fff;
    cursor: pointer;
    z-index: 2;
}