@import "src/base/variables";

.main__interlinking {
    // display: flex;
    overflow-x: auto;
    padding: 8px 0 16px;
    list-style: none;
    flex-wrap: nowrap;
    max-width: 100% !important;
    white-space: nowrap;
    display: flex;
    justify-content: center;

    li {
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        font-family: 'PT Serif';
        display: inline-block;
        line-height: 16px;
        font-size: 14px;
        font-weight: 700;
        padding: 0 8px;
        border: 0px solid $lr-red;
        border-left-width: 2px;

        a {
            color: $granite-gray;
        }

        &:hover {
            opacity: 0.6;
        }
    }

   


    :nth-child(1) {
        border-left-width: 0;
        padding: 0 8px 0 0;
    }

    @media (max-width: 999px) {
        justify-content: flex-start;
    }
}
.main__interlinking__sub{
    li{
    a{
        color:#FE0404
    }}
}

.main__interlinking__full{
    padding: 0px 0 16px;
    flex-wrap: wrap;
    row-gap: 10px;

}