.container__sectionGrid {
  margin-top: 24px;
}
.listItem__container {
  display: flex;
  flex-direction: column;
}
.sectionGrid__head {
  display: flex;
  align-items: flex-start;
  margin: 0;
  gap: 8px;
  // border-bottom: 2px solid #1aba95;
  // border-top: 1px solid #f0f0f0;
  padding-bottom: 9px;
  padding-top: 8px;
  margin-bottom: 8px;
  position: relative;
}

.sectionGrid__head__linkTo {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-variant: all-small-caps;
  font-size: 24px;
  line-height: 1.6rem;
  color: #8a64eb;
  margin-top: 5px;
}
.sectionGrid__head__separator {
  background-color: #8a64eb;
  height: 28px;
  width: 2px;
  display: block;
  margin: 0;
}
.listItem__container-secondaryCard {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 8px 0px;
}

.listItem__container-secondaryCard {
  div:nth-child(6) {
    display: none;
  }
  div:nth-child(7) {
    display: none;
  }
  div:nth-child(8) {
    display: none;
  }
}

@media (min-width: 769px) {
  .listItem__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .listItem__container-primaryCard {
    width: 35%;
  }
  .listItem__container-secondaryCard {
    width: 63%;
    // grid-template-columns: 1fr 1fr;
    gap: 0px 16px;
    div:nth-child(6) {
      display: flex;
    }
    div:nth-child(7) {
      display: flex;
    }
    div:nth-child(8) {
      display: flex;
    }
  }
}
@media (min-width: 999px) {
  .listItem__container-primaryCard {
    width: 369px;
  }
  .listItem__container-secondaryCard {
    width: calc(100% - 385px);
  }
}
