.seeMore__special {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 35px;
    display: block;
    line-height: 1;
    padding: 45px 0 20px;
    font-weight: bold;
    position: relative;
    font-size: 18px;
}

.seeMore__special::before, .seeMore__special a::before {
    content: "";
    background-color: #e30613;
    position: absolute;
}
.seeMore__special a{
    position: relative;
    padding: 0 10px;
}
.seeMore__special a::before {
    bottom: -8px;
    width: 100%;
    height: 4px;
    left: 0;
}