.smallCard__container {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.hidden {
  display: none;
}
.smallCard__section {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}
.smallCard__title--anchor {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

