

.itemSection__image {
    position: relative;
    margin:0;
    padding: 0;

    max-height: 119px;

   
    img {
        border-radius: 5px;
        width: 100%;
        max-height: 119px;

    }

}

.itemSection__image__subSpotlight {
    position: relative;
    margin:0;
    padding: 0;

    @media (min-width: 1000px){
        max-height: 166px;
        img{
            max-height: 166px;

        }
    }

   
    img {
        border-radius: 5px;
        width: 100%;

    }

}

.itemSection__title {
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48px;
    font-family: "Roboto", sans-serif;
    
}
.degraded-image{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: transparent;
    z-index: 99;
}
    
.video-type {
    z-index: 0;
}
.video-type:before,
.video-type:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
}
.video-type:before {
    width: 45px;
    height: 45px;
    left: 8px;
    background: rgba(#F101CC, 0.8);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.video-type:after {
    border-top: 10.125px solid transparent;
    border-bottom: 10.125px solid transparent;
    left: 25px;
    bottom: 21px;
    border-left: 16.875px solid #fff;
    cursor: pointer;
    z-index: 2;
}

.itemSection__title:hover {
            // color: #F101CC;
            text-decoration: underline;

        }

.mediumCard__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
        .itemSection__title{
            color: #F101CC;
            text-decoration: underline;

        }
        .degraded-image{
            
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 76.89%), linear-gradient(0deg, rgba(241, 1, 204, 0.3), rgba(241, 1, 204, 0.3));
            }
        }
  }

  .mediumCard__container__subSpotlight {

    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
        .itemSection__title{
            text-decoration: underline;

        }
        }
  }

