$transparent: #00000000;
$white: #fff;
$black: #000;

$purple: #8A64EB;
$purple-light: #8B65EC;
$purple-dark: #563B80;
$blue: #3257A5;
$blue-light: #69DBF2;
$aqua: #3CB1B9;
$crimson: #E8495F;
$pink: #FF4291;
$pink-light: #E46EC2;
$pink-dark: #F11167;

$medium-dark-gray: #535353;
$medium-gray: #333;
$lr-red: #fe0404;
$dark-red: #940203;
$lr-red: #fe0404;
$sangria: #940203;
$torch-red: #fd152b;
$orange: #fa8306;
$gray: #808080;
$light-gray: #ccc;
$very-light-gray: #eee;
$very-light-gray-25s: #f0f0f0;
$very-dark-gray: #2a2a2a;
$medium-dark-gray: #535353;
$medium-gray: #333;
$dark-gray: #1f1f1f;
$emperor-gray: #505050;
$granite-gray: #666;
$eerie-black: #1d1d1b;
$border-gray: #e4e4e4;
$bright-blue: #4285F4;
$very-dark-blue: #212529;
$light-grayish-blue: #dee2e6;
$grayish-magenta: #b5b3b5;
$twitter-blue: #1da1f2;
$grayish-white: #f4f4f4;