$transparent: #00000000;
$white: #fff;
$black: #000;

$purple: #8A64EB;
$purple-light: #8B65EC;
$purple-dark: #563B80;
$blue: #3257A5;
$blue-light: #69DBF2;
$aqua: #3CB1B9;
$crimson: #E8495F;
$pink: #FF4291;
$pink-light: #E46EC2;
$pink-dark: #F11167;

$medium-dark-gray: #535353;
$medium-gray: #333;
